#searchbar{
    margin-left: 15%;
    padding:10px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 20%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* input[type=text]:focus {
    width: 40%;
  } */

